.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 500px;
  background-color: rgb(253, 253, 114);
  margin: auto;
  gap: 1rem;
  border-radius: 1rem;
  border: #333 2px solid;
  margin-top: 5rem;
}

.logo {
  font-size: 3rem;
  border-radius: 50%;
  background-color: #333;
  width: 60px;
  height: 60px;
  margin: auto;
}

button {
  background-color: rgb(173, 252, 226);
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem;

}

